<h2>Ranking</h2>
<table class="table table-striped table-bordered" id="ranking-table">
  <thead>
    <tr>
      <th class="anim:pos">No</th>
      <th class="anim:id">Name</th>
      {{#each problems}}
      	<th class="hidden-phone anim:update">{{this}}</th>
      {{/each}}
      <th class="anim:update">Total</th>
    </tr>
  </thead>
  <tbody>
  	{{#each board}}
  	<tr>
  		<td>{{no}}.</td>
  		<td>{{name}}</td>
  		{{#each problems}}
      	<td class="hidden-phone">{{this}}</td>
      {{/each}}
      <td><b>{{score}}</b></td>
  	</tr>
  	{{/each}}
 </tbody>
</table>
