@media (min-width: 980px) {
  body {
    padding-top: 60px;
    padding-bottom: 42px;
  }
}
a:hover {
  cursor: pointer;
}

.CodeMirror {
  border: 1px solid #eee;
  height: auto;
}

.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}

.CodeMirror-fullscreen {
  display: block;
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  z-index: 9999;
  background-color: white;
}

.progress {
  margin-bottom: 0;
}

.submission-status { font-weight: bold; }
.submission-passed { color: green; }
.submission-wa { color: orange; }
.submission-re { color: purple;}
.submission-tle { color: red; }
.submission-mle { color: peru;}

.messages-compilation-error { color: maroon; }
