lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log

node-backend/node_modules
node-backend/*.js

.*.swp
Session.vim
*.sublime-project
*.sublime-workspace
www-*/release/*

sandbox/CMakeCache.txt
sandbox/CMakeFiles*
sandbox/CTestTestfile.cmake
sandbox/Makefile
sandbox/cmake_install.cmake
sandbox/sandbox
sandbox/sandbox_tests
