<div class="container-fluid">
  <div class="row-fluid">
  	Input:
    <textarea id="input" rows="8"></textarea>

    <br />

    Expected output:
    <textarea id="expected-output" rows="8"></textarea>

    <br />

    <button class="btn" id="testcase-discard">
      Discard
    </button>

    <button class="btn btn-primary" id="testcase-save">
      Save
    </button>

  </div>
</div>