<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" nohref="" id="contest-welcome">Web Programmig Contest</a>
      <div class="navbar-content">

        <ul class="nav" id="navigation">
          <li class="divider-vertical hidden-phone"></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" id="problems">
              <i class="icon-th-large"></i>
              Problems
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" id="problems-list"></ul>
          </li>
          <li><a id="status"><i class="icon-info-sign"></i> Status</a></li>
          <li><a id="ranking"><i class="icon-th-list"></i> Ranking</a></li>
        </ul>

        <ul class="nav pull-right">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" nohref="">
              <i class="icon-user"></i>
              Signed in as <b id="user-name"></b>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">  
              <li><a id="messages"><i class="icon-envelope"></i> Messages</a></li>  
              <li><a id="settings"><i class="icon-wrench"></i> Settings</a></li>  
              <li class="divider"></li>
              <li><a id="exit-contest-area"><i class="icon-arrow-left"></i> Exit contest area</li>
              <li><a id="sign-out"><i class="icon-off"></i> Sign out</a></li>  
            </ul>  
          </li>
        </ul>

      </div>
   </div>
  </div>
</div>

<div class="container-fluid" id="main"></div>
