<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">Web Programmig Contest</a>
      <div class="navbar-content">

        <ul class="nav">
          <li class="active"><a href="#"><i class="icon-eye-open icon-white"></i> Problems</a></li>
          <li><a href="#"><i class="icon-file icon-white"></i> Submit</a></li>
          <li><a href="#"><i class="icon-fire icon-white"></i> Status</a></li>
          <li><a href="#"><i class="icon-th-list icon-white"></i> Ranking</a></li>
        </ul>

        <ul class="nav pull-right">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="icon-user icon-white"></i>
              Signed in as <b>krzemin</b>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">  
              <li><a href="#"><i class="icon-envelope"></i> Messages inbox</a></li>  
              <li><a href="#"><i class="icon-cog"></i> Settings</a></li>  
              <li><a href="#"><i class="icon-pencil"></i> Code snippets</a></li>  
              <li class="divider"></li>  
              <li><a href="#"><i class="icon-off"></i> Sign out</a></li>  
            </ul>  
          </li>
        </ul>

      </div>
   </div>
  </div>
</div>

<div class="container-fluid" id="main"></div>
