

<div class="fixed-height-container"> 

  <div class="" id="problem-description">
    <h1>{{name}}</h1>
    <p>{{description}}</p>
    <h2>Input specification</h2>
    <p>{{input_specification}}</p>
    <h2>Output specification</h2>
    <p>{{output_specification}}</p>
    <h2>Example testcases</h2>
    {{#each testcases}}
      <div class="row-fluid">
        <div class="span6">
          <h4>Input</h4>
          <pre>{{input}}</pre>
        </div>
        <div class="span6">
          <h4>Output</h4>
          <pre>{{output}}</pre>
        </div>
      </div>
    {{/each}}
    {{testcases_explanation}}
  </div>

  <div id="coding-panel">
    <div class="tabbable">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#tab-code" data-toggle="tab">Code</a></li>
        <li><a href="#tab-tests" data-toggle="tab">Tests</a></li>
        <li><a href="#tab-submit" data-toggle="tab">Submit</a></li>
        <li><a href="#tab-my-submissions" data-toggle="tab">My submissions</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="tab-code">

          <div id="code-editor-container">
            <textarea id="codemirror"></textarea>
            <div class="" id="code-toolbar">
              <div class="btn-toolbar">
                  <button class="btn"><i class="icon-hdd"></i> Save</button>
                  <button class="btn"><i class="icon-cog"></i> Compile</button>
                  <button class="btn"><i class="icon-check"></i> Test</button>
                  <button class="btn"><i class="icon-upload"></i> Submit</button>
              </div>
            </div>
          </div>
          <pre id="code-messages-container">Compilation messages will appear here
Lorem ipsum dolor sit amet turpis cursus magna. Vestibulum ornare velit rutrum ligula, elementum et, varius in, ipsum. Nunc turpis. Pellentesque ac lacus. Integer erat volutpat. Vestibulum tortor vehicula dolor lorem, pellentesque facilisis. In hac habitasse platea dictumst. Quisque eu lectus elit, pulvinar sed, ornare eu, odio. Mauris eget dolor auctor odio
Lorem ipsum dolor sit amet turpis cursus magna. Vestibulum ornare velit rutrum ligula, elementum et, varius in, ipsum. Nunc turpis. Pellentesque ac lacus. Integer erat volutpat. Vestibulum tortor vehicula dolor lorem, pellentesque facilisis. In hac habitasse platea dictumst. Quisque eu lectus elit, pulvinar sed, ornare eu, odio. Mauris eget dolor auctor odio
Lorem ipsum dolor sit amet turpis cursus magna. Vestibulum ornare velit rutrum ligula, elementum et, varius in, ipsum. Nunc turpis. Pellentesque ac lacus. Integer erat volutpat. Vestibulum tortor vehicula dolor lorem, pellentesque facilisis. In hac habitasse platea dictumst. Quisque eu lectus elit, pulvinar sed, ornare eu, odio. Mauris eget dolor auctor odio
Lorem ipsum dolor sit amet turpis cursus magna. Vestibulum ornare velit rutrum ligula, elementum et, varius in, ipsum. Nunc turpis. Pellentesque ac lacus. Integer erat volutpat. Vestibulum tortor vehicula dolor lorem, pellentesque facilisis. In hac habitasse platea dictumst. Quisque eu lectus elit, pulvinar sed, ornare eu, odio. Mauris eget dolor auctor odio
Lorem ipsum dolor sit amet turpis cursus magna. Vestibulum ornare velit rutrum ligula, elementum et, varius in, ipsum. Nunc turpis. Pellentesque ac lacus. Integer erat volutpat. Vestibulum tortor vehicula dolor lorem, pellentesque facilisis. In hac habitasse platea dictumst. Quisque eu lectus elit, pulvinar sed, ornare eu, odio. Mauris eget dolor auctor odio
Lorem ipsum dolor sit amet turpis cursus magna. Vestibulum ornare velit rutrum ligula, elementum et, varius in, ipsum. Nunc turpis. Pellentesque ac lacus. Integer erat volutpat. Vestibulum tortor vehicula dolor lorem, pellentesque facilisis. In hac habitasse platea dictumst. Quisque eu lectus elit, pulvinar sed, ornare eu, odio. Mauris eget dolor auctor odio
Lorem ipsum dolor sit amet turpis cursus magna. Vestibulum ornare velit rutrum ligula, elementum et, varius in, ipsum. Nunc turpis. Pellentesque ac lacus. Integer erat volutpat. Vestibulum tortor vehicula dolor lorem, pellentesque facilisis. In hac habitasse platea dictumst. Quisque eu lectus elit, pulvinar sed, ornare eu, odio. Mauris eget dolor auctor odio
          </pre> 

        </div>

        <div class="tab-pane" id="tab-tests">

          <div class="container-fluid">
            <div class="row-fluid">

              <div class="btn-toolbar">
                <div class="btn-group">
                  <button class="btn btn-primary"><i class="icon-file"></i> New testcase</button>
                </div>
                <div class="btn-group">
                  <button class="btn btn-success"><i class="icon-play"></i> Run all</button>
                  <button class="btn btn-danger"><i class="icon-repeat"></i> Run failed</button>
                </div>
              </div>

              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Test</th>
                    <th>Actions</th>
                    <th>Status</th>
                    <th>Performance</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>#1</td>
                    <td>
                      <button class="btn btn-success"><i class="icon-play-circle"></i></button>
                      <button class="btn"><i class="icon-pencil"></i></button>
                      <button class="btn"><i class="icon-trash"></i></button>
                    </td>
                    <td><span class="label label-success">Passed</span></td>
                    <td>0.23s 2563kb</td>
                  </tr>
                  <tr>
                    <td>#2</td>
                    <td>
                      <button class="btn btn-success"><i class="icon-play-circle"></i></button>
                      <button class="btn"><i class="icon-pencil"></i></button>
                      <button class="btn"><i class="icon-trash"></i></button>
                    </td>
                    <td><span class="label label-success">Passed</span></td>
                    <td>0.25s 2681kb</td>
                  </tr>
                  <tr>
                    <td>#3</td>
                    <td>
                      <button class="btn btn-success"><i class="icon-play-circle"></i></button>
                      <button class="btn"><i class="icon-pencil"></i></button>
                      <button class="btn"><i class="icon-trash"></i></button>
                    </td>
                    <td><span class="label label-info">&nbsp;?&nbsp;</span></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>#3</td>
                    <td>
                      <button class="btn btn-success"><i class="icon-play-circle"></i></button>
                      <button class="btn"><i class="icon-pencil"></i></button>
                      <button class="btn"><i class="icon-trash"></i></button>
                    </td>
                    <td><span class="label label-warning">Wrong answer</span></td>
                    <td>1.23s 2842kb</td>
                  </tr>
                  <tr>
                    <td>#4</td>
                    <td>
                      <button class="btn btn-success"><i class="icon-play-circle"></i></button>
                      <button class="btn"><i class="icon-pencil"></i></button>
                      <button class="btn"><i class="icon-trash"></i></button>
                    </td>
                    <td><span class="label label-important">Time limit exceeded</span></td>
                    <td>4563kb</td>
                  </tr>
                  <tr>
                    <td>#5</td>
                    <td>
                      <button class="btn btn-success"><i class="icon-play-circle"></i></button>
                      <button class="btn"><i class="icon-pencil"></i></button>
                      <button class="btn"><i class="icon-trash"></i></button>
                    </td>
                    <td><span class="label label-success">Passed</span></td>
                    <td>5.10s 7231kb</td>
                  </tr>
                  <tr>
                    <td>#6</td>
                    <td>
                      <button class="btn btn-success"><i class="icon-play-circle"></i></button>
                      <button class="btn"><i class="icon-pencil"></i></button>
                      <button class="btn"><i class="icon-trash"></i></button>
                    </td>
                    <td><span class="label label-important">Runtime error</span></td>
                    <td>0.11s 2463kb</td>
                  </tr>
                  <tr>
                    <td>#7</td>
                    <td>
                      <button class="btn btn-success"><i class="icon-play-circle"></i></button>
                      <button class="btn"><i class="icon-pencil"></i></button>
                      <button class="btn"><i class="icon-trash"></i></button>
                    </td>
                    <td><span class="label label-important">Memory limit exceeded</span></td>
                    <td>0.83s</td>
                  </tr>
                 <tr>
                    <td>#1</td>
                    <td>
                      <button class="btn btn-success"><i class="icon-play-circle"></i></button>
                      <button class="btn"><i class="icon-pencil"></i></button>
                      <button class="btn"><i class="icon-trash"></i></button>
                    </td>
                    <td><span class="label label-success">Passed</span></td>
                    <td>0.23s 2563kb</td>
                  </tr>
                  <tr>
                    <td>#2</td>
                    <td>
                      <button class="btn btn-success"><i class="icon-play-circle"></i></button>
                      <button class="btn"><i class="icon-pencil"></i></button>
                      <button class="btn"><i class="icon-trash"></i></button>
                    </td>
                    <td><span class="label label-success">Passed</span></td>
                    <td>0.25s 2681kb</td>
                  </tr>
                  <tr>
                    <td>#3</td>
                    <td>
                      <button class="btn btn-success"><i class="icon-play-circle"></i></button>
                      <button class="btn"><i class="icon-pencil"></i></button>
                      <button class="btn"><i class="icon-trash"></i></button>
                    </td>
                    <td><span class="label label-info">&nbsp;?&nbsp;</span></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>#3</td>
                    <td>
                      <button class="btn btn-success"><i class="icon-play-circle"></i></button>
                      <button class="btn"><i class="icon-pencil"></i></button>
                      <button class="btn"><i class="icon-trash"></i></button>
                    </td>
                    <td><span class="label label-warning">Wrong answer</span></td>
                    <td>1.23s 2842kb</td>
                  </tr>
                  <tr>
                    <td>#4</td>
                    <td>
                      <button class="btn btn-success"><i class="icon-play-circle"></i></button>
                      <button class="btn"><i class="icon-pencil"></i></button>
                      <button class="btn"><i class="icon-trash"></i></button>
                    </td>
                    <td><span class="label label-important">Time limit exceeded</span></td>
                    <td>4563kb</td>
                  </tr>
                  <tr>
                    <td>#5</td>
                    <td>
                      <button class="btn btn-success"><i class="icon-play-circle"></i></button>
                      <button class="btn"><i class="icon-pencil"></i></button>
                      <button class="btn"><i class="icon-trash"></i></button>
                    </td>
                    <td><span class="label label-success">Passed</span></td>
                    <td>5.10s 7231kb</td>
                  </tr>
                  <tr>
                    <td>#6</td>
                    <td>
                      <button class="btn btn-success"><i class="icon-play-circle"></i></button>
                      <button class="btn"><i class="icon-pencil"></i></button>
                      <button class="btn"><i class="icon-trash"></i></button>
                    </td>
                    <td><span class="label label-important">Runtime error!</span></td>
                    <td>0.11s 2463kb</td>
                  </tr>
                  <tr>
                    <td>#7</td>
                    <td>
                      <button class="btn btn-success"><i class="icon-play-circle"></i></button>
                      <button class="btn"><i class="icon-pencil"></i></button>
                      <button class="btn"><i class="icon-trash"></i></button>
                    </td>
                    <td><span class="label label-important">Memory limit exceeded</span></td>
                    <td>0.83s</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

        </div>

        <div class="tab-pane" id="tab-submit">

          <div class="container-fluid">
            <div class="row-fluid">
              <form class="form-horizontal">
                <fieldset>
                  <legend>Submit a file</legend>
                  <div class="alert alert-error" id="submit-error" style="display: none;">
                    <strong>Error!</strong> <br />
                    File not submitted! You have to select proper programming language.
                  </div>
                  <div class="control-group">
                    <label class="control-label" for="file">Select a file</label>
                    <div class="controls">
                      <input type="file" class="input-file" id="file" />
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label" for="language">Programming language</label>
                    <div class="controls">
                      <select id="language">
                        <option value="0">Detect automatically</option>
                        <optgroup label="C">
                          <option value="1">gcc 4.7.2</option>
                          <option value="2">clang 3.1</option>
                        </optgroup>
                        <optgroup label="C++">
                          <option value="3">g++ 4.7.2</option>
                          <option value="4">clang++ 3.1</option>
                        </optgroup>
                        <optgroup label="Java">
                          <option value="5">OpenJDK 1.7.0_09</option>
                          <option value="6">Oracle JDK 1.7.0_11</option>
                        </optgroup>
                        <optgroup label="Python">
                          <option value="7">python 2.7</option>
                          <option value="8">python 3.2</option>
                        </optgroup>
                      </select>
                    </div>
                  </div>
                  <div class="control-group">
                    <div class="controls">
                      <label class="checkbox" for="load-to-editor">
                        <input type="checkbox" id="load-to-editor" value="true" />
                        Load to code editor
                      </label>
                    </div>
                  </div>
                  <div class="form-actions">
                    <button type="button" class="btn btn-primary btn-large" id="submit">
                      <i class="icon-upload"></i>
                      Submit
                    </button>
                  </div>
                </fieldset>
              </form> 
            </div>
          </div>

        </div>

        <div class="tab-pane" id="tab-my-submissions">

          <div class="container-fluid">
            <div class="row-fluid">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Submission</th>
                    <th>Status</th>
                    <th>Performance</th>
                    <th>Score</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><a nohref="">2013-01-03 20:59:21</a></td>
                    <td>
                      <div class="progress progress-striped active submission-progress">
                        <div class="bar" style="width: 70%;">Running...</div>
                      </div>
                    </td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td><a nohref="">2013-01-03 20:55:08</a></td>
                    <td><span class="label label-success">Passed</span></td>
                    <td>4.12s 22368kb</td>
                    <td>25.00 pts</td>
                  </tr>
                  <tr>
                    <td><a nohref="">2013-01-03 20:51:21</a></td>
                    <td><span class="label label-important">Runtime error</span></td>
                    <td>1.02s 3668kb</td>
                    <td></td>
                  </tr>
                   <tr>
                    <td><a nohref="">2013-01-03 20:03:29</a></td>
                    <td><span class="label label-warning">Wrong answer</span></td>
                    <td>4.12s 22368kb</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td><a nohref="">2013-01-03 19:26:11</a></td>
                    <td><span class="label label-important">Time limit exceeded</span></td>
                    <td>22368kb</td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

        </div>

     </div>
    </div>
  </div>

</div>
