<div class="fixed-height-container"> 

  <div id="problem-description">
    {{! problem-description.tmpl should appear here }}
  </div>

  <div id="coding-panel">
    <div class="tabbable">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#tab-code" data-toggle="tab">Code</a></li>
        <li><a href="#tab-tests" data-toggle="tab">Tests</a></li>
        <li><a href="#tab-submit" data-toggle="tab">Submit</a></li>
        <li><a href="#tab-my-submissions" data-toggle="tab">My submissions</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="tab-code">
          {{! problem-tab-code.tmpl should appear here }}
        </div>

        <div class="tab-pane" id="tab-tests">
          {{! problem-tab-tests.tmpl should appear here }}
        </div>

        <div class="tab-pane" id="tab-submit">
          {{! problem-tab-submit.tmpl should appear here }}
        </div>

        <div class="tab-pane" id="tab-my-submissions">
          {{! problem-tab-my-submissions.tmpl should appear here }}
        </div>
     </div>
    </div>
  </div>

</div>
