<div id="code-editor-container">
  <textarea id="codemirror"></textarea>
  <div class="" id="code-toolbar">
    <div class="btn-toolbar">
        <button class="btn"><i class="icon-hdd"></i> Save</button>
        <button class="btn"><i class="icon-cog"></i> Compile</button>
        <button class="btn"><i class="icon-check"></i> Test</button>
        <button class="btn"><i class="icon-upload"></i> Submit</button>
    </div>
  </div>
</div>
<pre id="code-messages-container">Compilation messages will appear here
Lorem ipsum dolor sit amet turpis cursus magna. Vestibulum ornare velit rutrum ligula, elementum et, varius in, ipsum. Nunc turpis. Pellentesque ac lacus. Integer erat volutpat. Vestibulum tortor vehicula dolor lorem, pellentesque facilisis. In hac habitasse platea dictumst. Quisque eu lectus elit, pulvinar sed, ornare eu, odio. Mauris eget dolor auctor odio
Lorem ipsum dolor sit amet turpis cursus magna. Vestibulum ornare velit rutrum ligula, elementum et, varius in, ipsum. Nunc turpis. Pellentesque ac lacus. Integer erat volutpat. Vestibulum tortor vehicula dolor lorem, pellentesque facilisis. In hac habitasse platea dictumst. Quisque eu lectus elit, pulvinar sed, ornare eu, odio. Mauris eget dolor auctor odio
Lorem ipsum dolor sit amet turpis cursus magna. Vestibulum ornare velit rutrum ligula, elementum et, varius in, ipsum. Nunc turpis. Pellentesque ac lacus. Integer erat volutpat. Vestibulum tortor vehicula dolor lorem, pellentesque facilisis. In hac habitasse platea dictumst. Quisque eu lectus elit, pulvinar sed, ornare eu, odio. Mauris eget dolor auctor odio
Lorem ipsum dolor sit amet turpis cursus magna. Vestibulum ornare velit rutrum ligula, elementum et, varius in, ipsum. Nunc turpis. Pellentesque ac lacus. Integer erat volutpat. Vestibulum tortor vehicula dolor lorem, pellentesque facilisis. In hac habitasse platea dictumst. Quisque eu lectus elit, pulvinar sed, ornare eu, odio. Mauris eget dolor auctor odio
Lorem ipsum dolor sit amet turpis cursus magna. Vestibulum ornare velit rutrum ligula, elementum et, varius in, ipsum. Nunc turpis. Pellentesque ac lacus. Integer erat volutpat. Vestibulum tortor vehicula dolor lorem, pellentesque facilisis. In hac habitasse platea dictumst. Quisque eu lectus elit, pulvinar sed, ornare eu, odio. Mauris eget dolor auctor odio
Lorem ipsum dolor sit amet turpis cursus magna. Vestibulum ornare velit rutrum ligula, elementum et, varius in, ipsum. Nunc turpis. Pellentesque ac lacus. Integer erat volutpat. Vestibulum tortor vehicula dolor lorem, pellentesque facilisis. In hac habitasse platea dictumst. Quisque eu lectus elit, pulvinar sed, ornare eu, odio. Mauris eget dolor auctor odio
Lorem ipsum dolor sit amet turpis cursus magna. Vestibulum ornare velit rutrum ligula, elementum et, varius in, ipsum. Nunc turpis. Pellentesque ac lacus. Integer erat volutpat. Vestibulum tortor vehicula dolor lorem, pellentesque facilisis. In hac habitasse platea dictumst. Quisque eu lectus elit, pulvinar sed, ornare eu, odio. Mauris eget dolor auctor odio
</pre> 


