<div class="container-fluid">
  <div class="row-fluid">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Submission</th>
          <th>Status</th>
          <th>Performance</th>
          <th>Score</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><a nohref="">2013-01-03 20:59:21</a></td>
          <td>
            <div class="progress progress-striped active submission-progress">
              <div class="bar" style="width: 70%;">Running...</div>
            </div>
          </td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td><a nohref="">2013-01-03 20:55:08</a></td>
          <td><span class="label label-success">Passed</span></td>
          <td>4.12s 22368kb</td>
          <td>25.00 pts</td>
        </tr>
        <tr>
          <td><a nohref="">2013-01-03 20:51:21</a></td>
          <td><span class="label label-important">Runtime error</span></td>
          <td>1.02s 3668kb</td>
          <td></td>
        </tr>
         <tr>
          <td><a nohref="">2013-01-03 20:03:29</a></td>
          <td><span class="label label-warning">Wrong answer</span></td>
          <td>4.12s 22368kb</td>
          <td></td>
        </tr>
        <tr>
          <td><a nohref="">2013-01-03 19:26:11</a></td>
          <td><span class="label label-important">Time limit exceeded</span></td>
          <td>22368kb</td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
