<div class="container-fluid">
  <div class="row-fluid">
    <table class="table table-hover">
      <thead>
        <th>Problem</th>
        <th>Solved</th>
        <th>Unsuccessful attempts</th>
        <th>Score</th>
        <th>Judge</th>
      </thead>
      <tbody>
        <tr>
          <td><a nohref="" class="open-problem" id="1">Problem easy</a></td>
          <td>Yes</td>
          <td>1</td>
          <td>98.18</td>
          <td>1.31s 7873kb</td>
        </tr>
        <tr>
          <td><a nohref="" class="open-problem" id="2">Stones in my passway</a></td>
          <td>Yes</td>
          <td>4</td>
          <td>77.39</td>
          <td>1.01s 32534kb</td>
        </tr>
        <tr>
          <td><a nohref="" class="open-problem" id="3">Brilliant room</a></td>
          <td>No</td>
          <td>6</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td><a nohref="" class="open-problem" id="4">Driving towards the daylight</a></td>
          <td>Yes</td>
          <td>3</td>
          <td>147.89</td>
          <td>3.11s 73231kb</td>
        </tr>
        <tr>
          <td><a nohref="" class="open-problem" id="5">Planet Welfare</a></td>
          <td>No</td>
          <td>0</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td><a nohref="" class="open-problem" id="6">Gem</a></td>
          <td>No</td>
          <td>13</td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
